<div>
    <p>Wybierz ilość danych do wyświetlenia:</p>
    <div class="App">
        <button (click)="goToDynamicTable(1)">1 Danych</button>
        <button (click)="goToDynamicTable(1000)">1k Danych</button>
        <button (click)="goToDynamicTable(3000)">3k Danych</button>
        <button (click)="goToDynamicTable(5000)">5k Danych</button>
        <button (click)="goToDynamicTable(10000)">10k Danych</button>
        <button (click)="goToDynamicTable(20000)">20k Danych</button>
        <button (click)="goToDynamicTable(50000)">50k Danych</button>
        <button (click)="goToDynamicTable(1000000)">1M Danych</button>
        <button (click)="goToDynamicTable(3000000)">3M Danych</button>
        <button (click)="goToDynamicTable(5000000)">5M Danych</button>
        <button (click)="goToDynamicTable(10000000)">10M Danych</button>
    </div>
</div>
